<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }
</style>

<h1>Some random Pipe usages</h1>
<!-- just some examples of how tooltip on hover should look for Pipes -->
<!-- also, you can go to its definition if you CTRL/CMD + Click on the pipe -->
<p>{{ title | randomizeLetters }}</p>
<p>{{ now$ | async | date: 'YYYY/MM/dd HH:mm:ss' }}</p>

<h1>CASL able Pipe</h1>

<!-- able Pipe doesn't show any tooltip on hover, nor can you navigate to its definition? -->
<div *ngIf="'edit' | able: 'View'">
  only shows if i can edit the view
</div>

<div *ngIf="'read' | able: 'View'">
  this should show because i can read the view
</div>

<div *ngIf="'eat' | able: 'Bananas'">
  this shouldn't compile because our app can't "eat" nor knows anything about "Bananas"
</div>